@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quran";
    src: url("../font/ArbFONTS-Amiri-Quran.ttf");
}

.font-cairo {
    font-family: var(--cairo);
}


.font-quran {
    font-family: "Quran";
}

:root {
    --main-color: #65a30d;
    --main-color-alt: #5b920d;
    --transition: 0.3s;
}

* {
    font-family: "Cairo";
    outline: none !important;
    -webkit-tap-highlight-color: rgba(136, 109, 109, 0);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-alt);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loader {
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
    height: 0px;
    width: 0px;
}

.loader span {
    position: absolute;
    display: block;
    background: #ddd;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: -20px;
    perspective: 100000px;
}

.loader span:nth-child(1) {
    left: 60px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0s;
    background: var(--main-color);
}

.loader span:nth-child(2) {
    left: 20px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.2s;
    background: var(--main-color-alt);
}

.loader span:nth-child(3) {
    left: -20px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.4s;
    background: var(--main-color);
}

.loader span:nth-child(4) {
    left: -60px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.6s;
    background: var(--main-color-alt);
}

@keyframes bounce {

    0%,
    56%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }
}

.loading {
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.header {
    /* background-image: url(../images/back-1.png); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh !important;
    width: 100%;
}


@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav .btn-nav.close {
    position: relative;
    background-color: var(--main-color-alt);
}

nav .btn-nav.close span {
    position: absolute;
}

nav .btn-nav.close span:nth-child(1) {
    width: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

nav .btn-nav.close span:nth-child(2) {
    display: none;
}

nav .btn-nav.close span:nth-child(3) {
    width: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(318deg);
}

@media (max-width: 992px) {
    nav .btn-nav {
        padding: 11px 13px;
        width: 50px;
        height: 40px;
        background-color: var(--main-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        display: block;
        width: 100%;
        overflow: hidden;
        top: 97px;
        left: 0;
        right: 0;
        position: fixed;
        background-color: #fffffff2;
        flex-direction: column;
        transition: all var(--transition);
        z-index: 99999;
    }

    nav ul li a {
        display: block;
        width: 100%;
        font-size: 16px;
        color: var(--main-color);
    }

    nav ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul li:first-child {
        padding-top: 20px;
    }

    nav ul li:last-child {
        padding-bottom: 20px;
    }
}


.zena {
    position: absolute;
    top: -65px;
    left: 25px;
    height: 50vh;
    z-index: -1;
}


footer .box .links li a {
    margin-right: 10px;
}

.btn-to-top.show {
    right: 10px;
}

.btn-theme {
    padding: 12px 15px;
    background-color: rgb(255 255 255 / 50%);
    font-size: 20px;
}

.hover-me {
    transition: 0.5s;
}

.hover-me:hover {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.05));
}

.shape-electronic {
    background-color: #28a745;
    height: 290px;
    max-width: 320px;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 12px 2px #0000000f;
}

.shape-electronic .screen-digit {
    position: relative;
    display: flex;
    justify-content: center;
}

.shape-electronic .layout-screen-digit {
    position: absolute;
    background-color: rgb(0 0 0 / 10%);
    border-radius: 20px;
    width: 83%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 6px 0px #00000021;
    z-index: -1;
}

.shape-electronic .contain-screen-digit {
    border-style: solid;
    border-width: 7px;
    border-radius: 15px;
    text-align: end;
    height: 86px;
    width: 70%;
    margin: 45px 0;
    padding: 10px 10px;
    font-size: 40px;
    box-shadow: inset 0 0 12px 6px #0000000f;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.shape-electronic .buttons-wrapper {
    padding: 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;
    margin-top: 10px;
}

.shape-electronic .buttons-wrapper .button {
    position: relative;
}

.shape-electronic .buttons-wrapper .button button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.shape-electronic .buttons-wrapper .button button:hover {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 15%);
}

.shape-electronic .buttons-wrapper .button button:active {
    box-shadow: 0 0 20px 0px transparent;
}

.shape-electronic .wrapper-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-electronic .wrapper-button span {
    color: #fff;
}

.shape-electronic .buttons-wrapper .wrapper-button:nth-child(2) .button::after {
    width: 110px;
    height: 110px;
}

.shape-electronic .buttons-wrapper .wrapper-button:nth-child(2) .button button {
    width: 60px;
    height: 60px;
}

.up-and-down {
    max-height: 400px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

.go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.go-down svg {
    animation: bouncing 1.5s infinite;
}

.salah .time {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.salah .time::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(1px); */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.salah .time * {
    z-index: 2;
}

.salah .Fajr {
    background: url(../images/times/fajr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.salah .Dhuhr {
    background: url(../images/times/dhuhr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.salah .Asr {
    background: url(../images/times/asr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.salah .Sunset {
    background: url(../images/times/maghrib.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.salah .Isha {
    background: url(../images/times/isha.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.salah .Imsak {
    background: url(../images/times/imsak.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.salah .Lastthird {
    background: url(../images/times/showr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.salah .Aftar {
    background: url(../images/times/aftar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.label {
    position: absolute;
    writing-mode: vertical-lr;
    background: linear-gradient(45deg, #78c71c, #1ea647);
    color: white;
    font-weight: bold;
    padding: 35px 10px 15px 10px;
    transform: rotate(180deg);
    font-size: 18px;
    left: 25px;
    width: 40px;
}


.label::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 20px;
}

[data-theme="dark"] .label::before {
    border-color: black transparent transparent transparent;
}

@media (max-width: 990px) {
    .hide {
        height: 0 !important;
    }
}


.hadithContainer {
    padding: 20px;
    background-color: #f9f9f9;
}


.hadith-info {
    margin-top: 10px;
    font-size: 17px;
    color: #b8b8b8;
}

.info-subtitle {
    font-weight: bold;
    color: var(--main-color);
}

.hadith-info #text {
    background-color: #b8b8b8;
}

.search-keys {
    color: red;
    font-weight: bold;
}


@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}


@keyframes borderBeam {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.border-beam {
    position: relative;
    display: inline-block;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.border-beam::before {
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red);
    background-size: 300% 300%;
    animation: borderBeam 3s linear infinite;
    z-index: -1;
    border-radius: 12px;
    -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
    padding: 4px;
}

@keyframes border-beam {
    to {
        content: var(--tw-content);
        offset-distance: 100%
    }
}

.animate-border-beam {
    --size: 150;
    --duration: 12;
    --anchor: 90;
    --border-width: 2;
    --color-from: #90b57d;
    --color-to: #55b51e;
    --delay: -0s;

    mask: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    mask-composite: intersect !important;
    mask-clip: padding-box, border-box !important;
    border: calc(var(--border-width) * 1px) solid transparent;
    border-radius: inherit;
    inset: 0;
    position: absolute;
    pointer-events: none;
}

.animate-border-beam::after {
    content: var(--tw-content);
    offset-path: rect(0 auto auto 0 round calc(var(--size)* 1px));
    offset-anchor: calc(var(--anchor)* 1%) 50%;
    background: linear-gradient(to left, var(--color-from), var(--color-to), transparent);
    animation-delay: var(--delay);
    animation: border-beam calc(var(--duration)* 1s) infinite linear;
    width: calc(var(--size)* 1px);
    aspect-ratio: 1 / 1;
    position: absolute;
}


.checkbox-wrapper-11 {
    --text: #414856;
    --check: #65f029;
    --disabled: #C3C8DE;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

[data-theme="dark"] .checkbox-wrapper-11 {
    --text: #e7e7e7;
    --check: #65f029;
    --disabled: #646464;
}

.checkbox-wrapper-11 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: color 0.3s ease;
}

.checkbox-wrapper-11 label::before,
.checkbox-wrapper-11 label::after {
    content: "";
    position: absolute;
}

.checkbox-wrapper-11 label::before {
    height: 2px;
    width: 8px;
    left: -12px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
}

.checkbox-wrapper-11 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

.checkbox-wrapper-11 input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    /* margin: 0 15px 0 0; */
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
}

.checkbox-wrapper-11 input[type=checkbox]::before,
.checkbox-wrapper-11 input[type=checkbox]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}

.checkbox-wrapper-11 input[type=checkbox]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

.checkbox-wrapper-11 input[type=checkbox]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

.checkbox-wrapper-11 input[type=checkbox]:checked::before {
    -webkit-animation: check-01-11 0.4s ease forwards;
    animation: check-01-11 0.4s ease forwards;
}

.checkbox-wrapper-11 input[type=checkbox]:checked::after {
    -webkit-animation: check-02-11 0.4s ease forwards;
    animation: check-02-11 0.4s ease forwards;
}

.checkbox-wrapper-11 input[type=checkbox]:checked+label {
    color: var(--disabled);
    -webkit-animation: move-11 0.3s ease 0.1s forwards;
    animation: move-11 0.3s ease 0.1s forwards;
}

.checkbox-wrapper-11 input[type=checkbox]:checked+label::before {
    background: var(--disabled);
    -webkit-animation: slice-11 0.4s ease forwards;
    animation: slice-11 0.4s ease forwards;
}

.checkbox-wrapper-11 input[type=checkbox]:checked+label::after {
    -webkit-animation: firework-11 0.5s ease forwards 0.1s;
    animation: firework-11 0.5s ease forwards 0.1s;
}

@-webkit-keyframes move-11 {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@keyframes move-11 {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@-webkit-keyframes slice-11 {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@keyframes slice-11 {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@-webkit-keyframes check-01-11 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(45deg);
    }

    100% {
        width: 5px;
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes check-01-11 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(45deg);
    }

    100% {
        width: 5px;
        top: 8px;
        transform: rotate(45deg);
    }
}

@-webkit-keyframes check-02-11 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(-45deg);
    }

    100% {
        width: 10px;
        top: 8px;
        transform: rotate(-45deg);
    }
}

@keyframes check-02-11 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(-45deg);
    }

    100% {
        width: 10px;
        top: 8px;
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes firework-11 {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}

@keyframes firework-11 {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}