@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cairo";
    src: url("../font/Cairo-SemiBold.ttf");
}

@font-face {
    font-family: "Quran";
    src: url("../font/ArbFONTS-Amiri-Quran.ttf");
}

.font-quran {
    font-family: "Quran";
}

:root {
    --main-color: #65a30d;
    --main-color-alt: #5b920d;
    --transition: 0.3s;
}

* {
    font-family: "Cairo";
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

[data-theme="dark"] ::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-alt);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loader {
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
    height: 0px;
    width: 0px;
}

.loader span {
    position: absolute;
    display: block;
    background: #ddd;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: -20px;
    perspective: 100000px;
}

.loader span:nth-child(1) {
    left: 60px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0s;
    background: var(--main-color);
}

.loader span:nth-child(2) {
    left: 20px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.2s;
    background: var(--main-color-alt);
}

.loader span:nth-child(3) {
    left: -20px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.4s;
    background: var(--main-color);
}

.loader span:nth-child(4) {
    left: -60px;
    animation: bounce 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.6s;
    background: var(--main-color-alt);
}

@keyframes bounce {
    0%,
    56%,
    100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }
}

.loading {
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav .btn-nav.close {
    position: relative;
    background-color: var(--main-color-alt);
}

nav .btn-nav.close span {
    position: absolute;
}

nav .btn-nav.close span:nth-child(1) {
    width: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

nav .btn-nav.close span:nth-child(2) {
    display: none;
}

nav .btn-nav.close span:nth-child(3) {
    width: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(318deg);
}

@media (max-width: 992px) {
    nav .btn-nav {
        padding: 11px 13px;
        width: 50px;
        height: 40px;
        background-color: var(--main-color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        display: block;
        width: 100%;
        overflow: hidden;
        top: 97px;
        left: 0;
        right: 0;
        position: fixed;
        background-color: #fffffff2;
        flex-direction: column;
        transition: all var(--transition);
        z-index: 99999;
    }

    nav ul li a {
        display: block;
        width: 100%;
        font-size: 16px;
        color: var(--main-color);
    }

    nav ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul li:first-child {
        padding-top: 20px;
    }

    nav ul li:last-child {
        padding-bottom: 20px;
    }
}

footer .box .links li a {
    margin-right: 10px;
}

.btn-to-top.show {
    right: 10px;
}

.btn-theme {
    padding: 12px 15px;
    background-color: rgb(255 255 255 / 50%);
    font-size: 20px;
}

.hover-me {
    transition: 0.5s;
}

.hover-me:hover {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
    );
}

.shape-electronic {
    background-color: #28a745;
    height: 290px;
    max-width: 320px;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 12px 2px #0000000f;
}

.shape-electronic .screen-digit {
    position: relative;
    display: flex;
    justify-content: center;
}

.shape-electronic .layout-screen-digit {
    position: absolute;
    background-color: rgb(0 0 0 / 10%);
    border-radius: 20px;
    width: 83%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 6px 0px #00000021;
    z-index: -1;
}

.shape-electronic .contain-screen-digit {
    border-style: solid;
    border-width: 7px;
    border-radius: 15px;
    text-align: end;
    height: 86px;
    width: 70%;
    margin: 45px 0;
    padding: 10px 10px;
    font-size: 40px;
    box-shadow: inset 0 0 12px 6px #0000000f;
    overflow-x: auto;
    overflow-y: hidden;
}

.shape-electronic .buttons-wrapper {
    padding: 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;
    margin-top: 10px;
}

.shape-electronic .buttons-wrapper .button {
    position: relative;
}

.shape-electronic .buttons-wrapper .button button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.shape-electronic .buttons-wrapper .button button:hover {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 15%);
}

.shape-electronic .buttons-wrapper .button button:active {
    box-shadow: 0 0 20px 0px transparent;
}

.shape-electronic .wrapper-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-electronic .wrapper-button span {
    color: #fff;
}

.shape-electronic .buttons-wrapper .wrapper-button:nth-child(2) .button::after {
    width: 110px;
    height: 110px;
}

.shape-electronic .buttons-wrapper .wrapper-button:nth-child(2) .button button {
    width: 60px;
    height: 60px;
}

.up-and-down {
    position: relative;
    animation: up-and-down 5s linear infinite;
}

.go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.go-down svg {
    animation: bouncing 1.5s infinite;
}

@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
