/* components/HadithList.module.css */

.hadithContainer {
    padding: 20px;
    background-color: #f9f9f9;
}

.hadith {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 15px;
    text-align: justify;
}

.hadith-info {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.info-subtitle {
    font-weight: bold;
    margin-right: 5px;
}

.search-keys {
    color: red;
    font-weight: bold;
}
